<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{{ title }}</title>
  <link rel="stylesheet" href="{{ '/assets/css/tailwind.css'  }}" />
  <script src="/switch-theme.js"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Share+Tech&display=swap" rel="stylesheet" />
</head>
<body class="default" data-theme="default">
  <button
    type="button"
    class="fixed left-4 top-4 w-6 h-6 rounded-sm bg-prose-secondary hover:bg-primary text-secondary p-1 text-center active:animate-ping"
    title="Change theme"
    id="theme-toggle"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      strokeWidth="1.5"
      stroke="currentColor"
      class="hover:animate-spin"
    >
      <path
        strokeLinecap="round"
        strokeLinejoin="round"
        d="M16.023 9.348h4.992v-.001M2.985 19.644v-4.992m0 0h4.992m-4.993 0 3.181 3.183a8.25 8.25 0 0 0 13.803-3.7M4.031 9.865a8.25 8.25 0 0 1 13.803-3.7l3.181 3.182m0-4.991v4.99"
      />
    </svg>
  </button>
  <main class="flex flex-col items-center justify-center min-h-screen w-full bg-secondary">
    <div class="flex flex-col items-center justify-around flex-1 container py-10 px-20">{{content}}</div>
  </main>
</body>
